body{
    background-color: lightblue;
}

#mentorTable{
    margin: 0 auto;
    width: 80%;
	height: 300px;
}

.aprobado{
     background-color: #3FDA05;
}

.suficiente{
     background-color: #EDF801;
}

.reprobado{
    background-color: #DA1205;
}

.eliminar{
    background-color: red;
}